* {
	font-family: "Roboto"; sans-serif;
}

h1, h2 {
	font-family: "Montserat", sans-serif;
}

#profile {
	height: 250px;
	width: 250px;
}

#landing {
	height: 80vh;

	display: flex;

	flex-direction: column;


	/*centering elements horizontally*/

	align-items: center;

	/*centering elements vertically*/
	justify-content: center;
}

.jumbotron {
	background-color: transparent;

	/*nawala yung background na grey*/
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;
	border-radius: px;
}

/*to remove the bullets*/
ul {
	list-style: none;
	padding: 0;
}

h2 {

	/*hex*/
	color: #007bff;
}

.tools {
	/*line- around the element*/
	border: 5px solid #f2f2f2;

	/*space outside the element*/

	margin: 20px;

	padding: 25px;

	height: 200px;

	/*based on the total width of the parent element*/
	width: 75%;

	color: white;
}

html {
	scroll-behavior: smooth;
}